.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-size: 25px;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding: auto;
}

.stock-form .expiry-calendar {
    display: flex;
    align-items: center;
}

.fridge-it-button {
    font-size: 20px;
    background-color: skyblue;
    margin: 25px;
    padding: auto;
}