.stock-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-size: 25px;
}

.fridge-it-button {
    font-size: 20px;
    background-color: skyblue;
    margin: 25px;
    padding: auto;
}