.search-results-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 500px;
  }
  .results-card {
    flex: 1 0 calc(33.333% - 16px);
    margin: 5px;
    align-items: center;
    justify-content: center;
    width: 300px;
    transition: background-color 0.3s ease;
  }

  .results-card:hover {
    background-color: rgb(19, 19, 19); /* Or any other color */
    width: 100%;
  }

  .results-image {
    height: auto;
    width: 100%;
    margin-top: 25px;
  }

  .results-title {
    width: 300px;
  }